
header {
	grid-area: header ;
	
	div {
		margin: 0 ;
		left: 1em ;
		background-color: #000000aa ;
		padding: 0 ;
	}
	
	a {
		display: flex ;
		color: #ffffff ;
		font-size: 1.2rem ;
		padding: .5em ;
		transform: translate(2000, 0) ;
	}
}

body {
	display: grid ;
	grid-template-areas: 
		"header header header"
		". main ."
		". button ."
		". list ."
		"footer footer footer";
	grid-template-columns: 1fr 5fr 1fr;
	grid-template-rows: .25fr 2fr .25fr 2fr .5fr;
	background-image: url("https://us.123rf.com/450wm/glebdesign159/glebdesign1592406/glebdesign159240603865/230990145-seamless-pattern-with-coffee-cups-and-beans-vector-illustration.jpg?ver=6") ;
	background-position: 0cm 0cm ;
	animation: backPos 10s linear infinite;
	
}

@keyframes backPos {
	0% {
		background-position: 0cm 0cm ;
	}
	100% {
		background-position: 11.9cm 11.9cm ;
	}
}

#drinksList{
	grid-area: list ;
	margin: 2em auto ;
	text-align: left ;
	/*transform: scale(2) ;*/
	font-size: 1.6rem ;
	letter-spacing: .15em ;
	
}

body * {
	margin: 0 ;
	margin-left: auto;
	margin-right: auto;
	text-align: center ;
}

#outerChosen {
	width: 5em ;
	max-width: 10em ;
	background-color: #000000aa ;
	margin-top: 0em ;
	margin-bottom: .5em ;
	padding: 0 1em ;
	color: wheat ;
	font-size: 3rem ;
	border-radius: 1.25em ;
	
	#chosen {
		height: 3em ;
		margin: auto ;
		padding: 3em 0em ;
	}
	
}

#headNchosen {
	grid-area: main ;			
}

#buttonChoose {
	width: 10em ;
	grid-area: button ;
	margin-top: 0 ;
	padding: 2em 3em ;
	color: black ;
	background-color: #cdbea1 ;
	border-color: #632600 ;
	border-radius: 5em ;
	box-shadow: 2px 2px 2px black ;
	letter-spacing: .4rem;
	font-size: 1.2rem ;
}

.coolText {
	color: white ;
	text-shadow: -1px -1px 2px #000, 1px -1px 2px #000, -1px 1px 2px #000, 1px 1px 2px #000 ;
}

h1 {
	margin-bottom: .5em ;
	text-decoration: underline;
}

footer {
	color: wheat ;
	margin-top: 5em ;
	padding: 1em 1em ;
	grid-area: footer ;
	background-color: #000000aa ;
	border-radius: 5em ;
	

	> a {
		color: white ;
		text-shadow: -1px -1px 2px #000, 1px -1px 2px #000, -1px 1px 2px #000, 1px 1px 2px #000 ;
		margin: 0 ;
		padding: 0 ;
		
	}
	
}

a[href] {
	color: wheat ;
}